<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel Gestor{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Hotel</h1>
        {% if current_user.is_authenticated %}
        <div class="user-info">
            <img src="{{ url_for('get_user_photo', user_id=current_user.id) }}" alt="{{ current_user.fullname }}">
            <span>{{ current_user.fullname }}</span>
        </div>
        {% endif %}
    </header>
    {% if current_user.is_authenticated %}
    <div class="sidebar">
        <nav>
            <ul>
                <li class="{% if active_page == 'habitaciones' %}active{% endif %}"><a href="{{ url_for('habitaciones') }}">Habitaciones</a></li>
                <li class="{% if active_page == 'configuracion' %}active{% endif %}"><a href="{{ url_for('configuracion') }}">Configuración</a></li>
                <li class="{% if active_page == 'historial' %}active{% endif %}"><a href="{{ url_for('historial') }}">Historial</a></li>
                <li  class="logout"><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </div>
    {% endif %}
    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
